{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
	<h3>Verify Rule Operation Value</h3>
	<br>
	<form action="{{ url_for('verifyRuleOperation') }}" method="post"> 
		<div class="row justify-content-center mt-4">
			<div class="col-sm-1">No of txns to check</div>	
			<div class="col-sm-2"><input type="text" name="txCnt" placeholder="optional"></div>
		</div>
		<div class="row justify-content-center mt-4">
			<div class="col-sm-1">No of blocks to check</div>	
			<div class="col-sm-2"><input type="text" name="noOfBlocks" placeholder="optional"></div>
		</div>
		<div class="row justify-content-center mt-4">
			<div class="col-sm-1 form_label">Check till date</div>	
			<div class="col-sm-2"><input type="text" name="date" placeholder="optional [YYYY-MM-DD ]"></div>
		</div>
		<br><br>

		<div class="row justify-content-center mt-4">
			<div class="col-sm-1 form_label">ruleId</div>	
			<div class="col-sm-2"><input type="text" name="ruleId"></div>
		</div>
		<div class="row justify-content-center mt-4">
			<div class="col-sm-1 form_label">operation</div>	
			<div class="col-sm-2"><input type="text" name="operation"></div>
		</div>
		<div class="row justify-content-center mt-4">
			<div class="col-sm-2"><input type="submit" value="Submit" class="btn btn-primary"></div>
		</div>
	</form>	

{% endblock %}